<div class="card mb-4" *ngIf="user">
  <div class="card-body text-center">
    <img src="{{user.img}}" alt="avatar"
      class="rounded-circle img-fluid" style="width: 150px;">
    <h5 class="my-3">{{user.username}}</h5>
    <div class="d-flex justify-content-center mb-2">
      <a [routerLink]="['edit']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Editar perfil</button></a>
      &nbsp;&nbsp;
      <a [routerLink]="['editPass']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Editar contraseña</button></a>
    </div>
    <!-- <div class="d-flex justify-content-center mb-2">
    </div> -->
  </div>
</div>
