<!-- Section: Design Block -->
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            La mejor forma <br />
            <span style="color: hsl(218, 81%, 75%)">de divertirse</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(281.37deg 100% 94.94%)">
            Haz login y obtén un <b>acceso total</b>   a los posts para encontrar 
            a tu <b>SQUAD</b> perfecto. <br>
            O <b>crea</b>  tu mismo un post para encontrarlos. <br>
            Porque la mejor forma de jugar siempre será con <b>amigos</b> ,
            y aquí podrás encontrar a las personas que se adapten a tus requisitos <br>
           <b>¿A que esperas?</b> 

          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <h2>Login</h2>
              <form 
              #myForm="ngForm"
              autocomplete="off"
              (ngSubmit)="onlogin()" 
              >
             
  
                <!-- username input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Username</label>
                  <input type="text" id="form3Example3" class="form-control" 
                    name="username" 
                    required 
                    [(ngModel)]="username"/>
                    <span class="form-text text-danger"
                    *ngIf="notValidUsername()">
                        Username es obligatorio
                    </span>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Contraseña</label>
                  <input type="password" id="form3Example4" class="form-control"  
                    name="password" 
                    [(ngModel)]="password"
                    required/>
                    <span class="form-text text-danger"
                    *ngIf="notValidPassword()">
                        Contraseña es obligatoria
                    </span>
                </div>
    
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4"
                [disabled]="myForm.invalid"
                >
                  Entrar
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Si no tienes una cuenta puedes <a [routerLink]="['/auth/registrer']">registrarte</a></p>
                  
                </div>
              </form>
              <!-- <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn">
                Google
              </button>   -->


              <!-- INICIO SESION GOOGLE
                <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
         data-client_id="807418543433-0hjiibg74ddg11liscb6tlnu774g41v7.apps.googleusercontent.com"
         data-login_uri="http://localhost:4200"
         data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
      </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Section: Design Block -->