<div class="card mb-4" >
    <div class="card-body">
        <div class="row">
        <h3>Juegos</h3>
        </div>
        <hr>
    

        <div *ngIf="gamesLoaded && playsLoaded">
   
        
            <!-- Añadir favorito -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Agregar</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="juego">
                            <option *ngFor="let g of games" [value]="g.gamename">{{g.gamename}}</option>
                        </select>
        
                        <button class="btn btn-outline-primary" type="button"
                        (click)="add()">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        
            <!-- Lista de favoritos -->
            <div class="mb-3 row">
                <div class="input-group mb-1" *ngFor="let favorito of plays; let i = index">
                    <input class="form-control" [(ngModel)]="favorito.gamename" name="favorito_{{i}}">
        
                    <button class="btn btn-outline-danger" (click)="delete(favorito.gamename)" type="button"> Eliminar </button>
                </div>
        
            </div>
        
        
        </div>
        
    </div>
</div>