<h2>Registro</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="save()"  [formGroup]="myForm" autocomplete="off">
            
            <!-- Campo de username -->
            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Username</label>

                <div class="col-sm-9">
                    
                    <input type="text"
                           class="form-control"
                           placeholder="your username"
                           formControlName="username">
                            
                    <span class="form-text text-danger"
                    *ngIf="isValidField('username')">
                        Debe de ser de minimo 3 letras
                    </span>
                </div>
            </div>

             <!-- Campo de email -->
             <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Email</label>

                <div class="col-sm-9">
                    
                    <input type="email"
                           class="form-control"
                           placeholder="example@example.com"
                           formControlName="email">
                            
                    <span class="form-text text-danger"
                    *ngIf="isValidField('email')">
                        Debe ser un email correcto
                    </span>
                </div>
            </div>

            <!-- Campo de fecha de nacimiento -->
            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Fecha de nacimiento</label>
                
                <div class="col-sm-9">

                    <input type="date"
                           class="form-control"
                           formControlName="birth">

                           <span class="form-text text-danger"
                           *ngIf="isValidField('birth')">
                        Debe de ser mayor de 16
                    </span>
                </div>
            </div>


            <!-- Campo  de password -->
            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Contraseña</label>

                <div class="col-sm-9">

                    <input type="password"
                        class="form-control"
                        formControlName="password">

                        <span class="form-text text-danger"
                        *ngIf="isValidField('password')">
                        Debe 
                    </span>
                </div>
            </div>

            <!-- Campo de repeat password -->
            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Repita la contraseña</label>
                
                <div class="col-sm-9">

                    <input type="password"
                        class="form-control"
                        formControlName="repeatpassword">

                        <span class="form-text text-danger"
                        *ngIf="isValidField('repeatpassword')">
                        Debe de ser mayor de 16
                    </span>
                </div>
            </div>
                    


<!-- Campo  de repeat password -->
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            >
                        Guardar
                    </button>
                </div>
            </div>



        </form>

        <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value | json}}</pre>

    </div>
</div>

