<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="container">


    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                                <ul class="users">
                                    <li  data-chat="person1">
                                        <a href="#submenu2" data-bs-toggle="collapse"
                                            class="nav-link px-0 align-middle ">
                                            <div class="person">


                                                <div class="user">
                                                    <i class="fa-solid fa-user-plus"></i> &nbsp;&nbsp;
                                                    <span class="status busy" *ngIf="userReqList.length>0"></span>
                                                </div>
                                                <p class="name-time">
                                                    <span class="name">Peticiones de amistad</span>

                                                </p>
                                            </div>
                                        </a>

                                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                            <li class="w-100 person peticion" *ngFor="let req of userReqList">
                                                <a class="nav-link px-0" (click)="answer(req.username)">
                                                    <div class="user">
                                                        <img src="{{req.img}}" alt="Retail Admin">
                                                    </div>
                                                    <p class="name-time">
                                                        <span class="name">{{req.username}}</span>
                                                        <span class="new">Quiere ser tu amigo</span>
                                                    </p>
                                                </a>
                                            </li>
                                            
                                        </ul>

                                    </li>

                                </ul>

<hr>
                                <ul class="users">
                                    <li class="person" data-chat="person1" *ngFor="let friend of userFriends"
                                    [ngClass]="{ 'active': friend === activeFriend }" (click)="selectFriend(friend)">
                                        <div class="user">
                                            <img src="{{friend.img}}"
                                                alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">{{friend.username}}</span>
                                            <span class="time">15/02/2019</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                        <app-chat [activeFriend$]="activeFriend$"></app-chat>
                    </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>