<div class="container py-3">
    <div class="dash">
    <h1>Dashboard</h1>
    <p>¡Bienvenido al dashboard! Aquí encontrarás información importante y podrás gestionar usuarios, juegos e informes.</p>
</div>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Administra los usuarios de tu aplicación.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Juegos</h5>
            <p class="card-text">Administra los juegos disponibles.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Informes</h5>
            <p class="card-text">Consulta los informes generados por la aplicación.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>