.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .row {
    flex-grow: 1;
  }
  
  .dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: rgb(77 27 138) 1px 0 10px;  

  }