<div class="container py-1"  *ngFor="let comment of postsList">

<div class="card mb-3" >
  <div class="row g-0">
    <div class="card-header">
      {{comment.title}}
    </div>
    <div class="col-md-4">
      <!-- <img src="../../../../assets/img/logo.png" class="img-fluid rounded-start" alt="..."> -->

      <img src="{{comment.img}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{comment.username}}</h4>
      <p class="card-text"> <b>Región: </b>{{comment.region}}</p>
      <p class="card-text"> <b>Nombre de usuario en el juego: </b> {{comment.nickgame}}</p>
      <p class="card-text"> <b>Nivel de usuario en el juego: </b> {{comment.levelingame}}</p>
      <p class="card-text"> <b>Nivel de usuario en competitivo: </b> {{comment.ranklevel}}</p>
      <p class="card-text">{{comment.description}}</p>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{comment.dateformated}}
  </div>
</div>
</div>



 