.fondo{
    /* The image used */
    background-image: url('../assets/img/space.jpg') ;


 /* Fijar la imagen de fondo este vertical y
   horizontalmente y centrado */
 background-position: center center;

 /* Esta imagen no debe de repetirse */
 background-repeat: no-repeat;

 /* COn esta regla fijamos la imagen en la pantalla. */
 background-attachment: fixed;

 /* La imagen ocupa el 100% y se reescala */
 background-size: cover;

 /* Damos un color de fondo mientras la imagen está cargando  */
 background-color: #464646;


 background: url('../assets/img/space.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
	

}
    