.min-vh-90{
    height: 90vh;
    background-color: #212529d4  !important;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.min-vh-902{
    height: 90vh;
    /* background-color: #212529d4  !important; */
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr{
    border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 90%;
margin-top: inherit;
}

.a-zona-admin{
    padding-top: 20px;
 
}

/* a{
    color: rgb(228, 197, 255);
}*/
a:hover{

    color: #ffffff;
    text-shadow: rgb(140, 47, 253) 1px 0 10px;  } 
  a {
    color: rgb(228, 197, 255);
    text-decoration: none;
  }
  
  a:active,
  a:focus {
    color: #ffffff;
    text-shadow: rgb(140, 47, 253) 1px 0 10px;  
  }

  .main{
    background-color: #c9cfff42;
  }
