<section>
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675960940/Beta_Key_Art_VALORANT_cenmpj.jpg" 
    [routerLink]="['/game/Valorant/posts']"alt="">
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675962085/lol_uf1vtj.jpg" alt="">
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675962085/fifa_fencjn.jpg" alt="">
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675962090/fortnite_jz9jen.jpg" alt="">
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675962090/overwatch_cros63.jpg" alt="">
    <img src="https://res.cloudinary.com/dytuy1vx0/image/upload/v1675962085/cod_jxiao5.jpg" alt="">
</section>