<section style="background-color: rgb(139 132 193 / 53%);">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <h3>PROFILE</h3>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <app-principalprofile [user]="user" ></app-principalprofile>
        </div>
        <div class="col-lg-8">
          <app-data-profile [user]="user"></app-data-profile>
        </div>
      </div>
    </div>
  </section>