
<!-- <div class="row justify-content-evenly align-items-center text-light  grid-contenedor">

    <div class="col-sm-4 texto card2"> 
        <div class="card__content">
        <p>blasd alsbd alsdbasd asfsdfsfsrgzsg aggrtgra
        blasd alsbd alsdbasd asfsdfsfsrgzsg aggrtgra
        blasd alsbd alsdbasd asfsdfsfsrgzsg aggrtgra
        blasd alsbd alsdbasd asfsdfsfsrgzsg aggrtgra
        blasd alsbd alsdbasd asfsdfsfsrgzsg aggrtgra</p> </div>
    </div>
    <div class="col-sm-3 texto2 card2">
        <div class="card__content centro">
        <p> Empieza a juagar con nuevos amigos,</p>

        <p> <button class="button btn-light">Encuentralos!</button>
        </p>
        </div>
    </div>

</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-6 text-container">
          <h2>¡Bienvenidos a mi sitio web!</h2>
          <p>Aquí podrás ver prçoximamente información sobre la web y lo que se podrá hacer en ella. <br> Esto e sun poco un texto de relleno, saludos!</p>
        </div>
        <div class="col-md-6 text-container">
          <h2>¿Qué es SquadGG?</h2>
          <p>Es un sitio web para encontrar compañeros de juegos, puedes seleccionar el juego y encontrar a tus compañeros perfectos o buscarlos tu mismo publicando un post con los datos necesarios</p>
        </div>
      </div>
      
  </div>