.card2 {
  width: 100%;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
 }
 
 .card__content {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
 }

 p{
   padding: 20px;
 }
 div.centro{
   text-align: center;
   padding-top: 50px;
 }


 .grid-contenedor {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.8fr 1fr;
  grid-gap: 50px;
  grid-template-areas: 
    ". . . . ."
    ". texto . texto2 .";
}
.texto{
  display: grid;
  grid-area: texto;

}
.texto2{
  display: grid;
  grid-area: texto2;
}