<div class="cabecera position-relative" *ngIf="ready"> 
    <img class="juego " src="{{game.img}}" alt="imagen del juego">

    <div class="position-absolute top-50 end-0 translate-middle-y">
        <!-- <a [routerLink]="['/game/'+gamename+'/posts/add']"> -->
            <a (click)="onButtonClick()">

            <button class="btn btn-dark boton  position-absolute top-50 end-0 translate-middle-y">Añadir post</button>
        </a>
    </div>

</div>

<div class="d-flex">
    <div class="col-4">
        <app-side-bar></app-side-bar>
    </div> 


    <div class="col">
        <app-comment [postsList]="postsList" (reload)="reloadData($event)" ></app-comment>




        
       <nav aria-label="Page navigation example" class="container py-1">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#" (click)="cargarDatos()">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#" >1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> 
    </div>

</div>
    
    