<div >
    <div class="selected-user">
        <span>To: <span class="name">{{friend}}</span></span>
    </div>
    <div class="chat-container">
        <ul #chatContainer class="chat-box chatContainerScroll">


            <li *ngFor="let message of messages"  [ngClass]="getMessageClass(message.username_sender)">

                <div class="chat-hour" *ngIf="message.username_sender != friend">08:56 <span class="fa fa-check-circle"></span></div>
                <div class="chat-text" *ngIf="message.username_sender != friend">{{message.message}}
                </div>
                <div class="chat-avatar" *ngIf="(userDtoFriend && userDtoFriend.img) || (userDtoMain && userDtoMain.img)">
                    <img [src]="(message.username_sender === friend) ? userDtoFriend.img : userDtoMain.img"alt="Retail Admin">
                    <div class="chat-name">{{(message.username_sender === friend) ? friend : userDtoMain.username }}</div>
                </div>
                <div class="chat-text" *ngIf="message.username_sender == friend">{{message.message}}
                </div>
                <div class="chat-hour" *ngIf="message.username_sender == friend">08:55 <span class="fa fa-check-circle"></span></div>
            </li>


            
            <!-- <li class="chat-left">
                <div class="chat-avatar">
                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                    <div class="chat-name">Russell</div>
                </div>
                <div class="chat-text">Actually everything was fine.
                    <br>I'm very excited to show this to our team.
                </div>
                <div class="chat-hour">07:00 <span class="fa fa-check-circle"></span></div>
            </li> -->
        </ul>
        <div class="form-group mt-3 mb-0">
            <textarea  [(ngModel)]="text" class="form-control" rows="3" placeholder="Type your message here..." (keydown.enter)="sendMessage(text)"></textarea>
        </div>
    </div>
</div>
